body {
  background: linear-gradient(to top, rgb(255, 100, 124), rgb(254, 161, 125));
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: white !important;
}

a {
  text-decoration: none !important;
}

body, html, div, svg, a, li, ul, ol, span, code, pre, i, img {
  transition: 0.5s cubic-bezier(0.05, 0.71, 0.52, 1.18) all;
}

.text-shadow {
  text-shadow: 1px 1px 7px #444;
}

.white-text {
  color: white !important;
}

.white-text-hover:hover {
  color: white !important;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-left-right {
  margin: 0 7px;
}

.modal-height {
  min-height: auto !important;
  max-height: 350px !important;
  height: 75% !important;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.category-header {
  color: white;
  margin: 0 auto;
  margin-bottom: 21px;
  width: 35%;
  border-bottom: solid 2px white;
  font-weight: 400;
  text-align: center;
  padding-top: 100px;
}

.sub-category-headers {
  text-align: left;
  padding-left: 21px;
  margin-bottom: 7px;
  margin-top: 21px;
}

.navbar {
  background: rgb(254, 189, 164) !important;
  z-index: 2;
}

.uk-offcanvas-bar {
  background-color: #f8f8fff7 !important;
}

.black-text {
  color: black !important;
}

.fixed-padding {
  padding-bottom: 90px;
}

.active-link {
  color: lightcoral !important;
}

.table-padding-5 {
  padding: 5px;
}

.table-track-name {
  display: inline-block;
  font-size: 20px;
}

.table-track-image {
  width: 50px;
  height: 50px;
  margin: 0 7px 7px 0;
}

.animated-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  transition-duration: 0.3s;
}

.animated-input:focus {
  background: #ffffff;
  border: 1px solid #e5e5e5;
}

/* OVERRIDDEN STYLES */
.uk-card-primary.uk-card-body .uk-list-divider>li:nth-child(n+2), .uk-card-primary>:not([class*=uk-card-media]) .uk-list-divider>li:nth-child(n+2), .uk-card-secondary.uk-card-body .uk-list-divider>li:nth-child(n+2), .uk-card-secondary>:not([class*=uk-card-media]) .uk-list-divider>li:nth-child(n+2), .uk-light .uk-list-divider>li:nth-child(n+2), .uk-offcanvas-bar .uk-list-divider>li:nth-child(n+2), .uk-overlay-primary .uk-list-divider>li:nth-child(n+2), .uk-section-primary:not(.uk-preserve-color) .uk-list-divider>li:nth-child(n+2), .uk-section-secondary:not(.uk-preserve-color) .uk-list-divider>li:nth-child(n+2), .uk-tile-primary:not(.uk-preserve-color) .uk-list-divider>li:nth-child(n+2), .uk-tile-secondary:not(.uk-preserve-color) .uk-list-divider>li:nth-child(n+2) {
  border-top-color: rgba(0, 0, 0, 0.2) !important;
}

.uk-list-divider>li:nth-child(n+2) {
  border-top: 1px solid #000000 !important;
}

.uk-notification-message {
  background-color: #323232 !important;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.uk-notification-close.uk-close.uk-icon {
  color: white !important;
  top: 23px !important;
}

.uk-radio:checked, .uk-checkbox:checked, .uk-checkbox:indeterminate {
  background-color: coral !important;
}

/* END OF OVERRIDDEN STYLES */
