body {
  background: #1a1a1a;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  color: white !important;
}

a {
  text-decoration: none !important;
}

body, html, div, svg, a, li, ul, ol, span, code, pre, i, img {
  transition: 0.5s cubic-bezier(0.05, 0.71, 0.52, 1.18) all;
}

.remove-color {
  color: #f15353;
}

.play-color {
  color: #63e644;
}

.playlist-color {
  color: #ffc048;
}

.now-playing-background {
  background-color: rgba(0, 0, 0, 0.45);
}

.text-shadow {
  text-shadow: 1px 1px 7px #000;
}

.white-text {
  color: white !important;
}

.white-text-hover:hover {
  color: white !important;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-left-right {
  margin: 0 7px;
}

.modal-height {
  min-height: auto !important;
  max-height: 350px !important;
  height: 75% !important;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.category-header {
  color: white;
  margin: 0 auto;
  margin-bottom: 21px;
  width: 35%;
  border-bottom: solid 2px white;
  font-weight: 400;
  text-align: center;
  padding-top: 100px;
}

.sub-category-headers {
  text-align: left;
  padding-left: 21px;
  margin-bottom: 7px;
  margin-top: 21px;
}

.navbar {
  background: #644f80 !important;
  z-index: 2;
}

.uk-offcanvas-bar {
  background-color: #f8f8fff7 !important;
}

.black-text {
  color: black !important;
}

.fixed-padding {
  padding-bottom: 90px;
}

.library-image {
  box-shadow: 0px 0px 20px 3px rgba(148, 0, 255, 0.7);
}

.active-link {
  color: black !important;
}

.table-padding-5 {
  padding: 5px;
}

.table-track-name {
  display: inline-block;
  font-size: 20px;
}

.table-track-image {
  width: 50px;
  height: 50px;
  margin: 0 7px 7px 0;
}

.animated-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  transition-duration: 0.3s;
}

.animated-input:focus {
  background: #ffffff;
  border: 1px solid #e5e5e5;
}

.center-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) all;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.overlay-content:hover {
  background-color: rgba(26, 26, 26, 0.7);
}

.image-hover-overlay > img {
  transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) all;
  height: 100%;
  width: 100%;
}

.image-hover-overlay:hover > img {
  filter: brightness(50%);
}

.padding-21 {
  padding: 21px;
}

.color-hover {
  transition-duration: 0.7s;
}

.color-hover:hover {
  color: #c57de2;
}

.card-hover {
  transition: all 0.5s ease !important;
}

.card-hover:hover {
  box-shadow: 0 0 20px 3px rgba(148, 0, 255, 0.7);
  transform: scale(1.01);
}

@media only screen and (max-width: 640px) {
  .main-logo {
    visibility: hidden;
  }
}

/* OVERRIDDEN STYLES */
.uk-card-primary.uk-card-body .uk-list-divider>li:nth-child(n+2), .uk-card-primary>:not([class*=uk-card-media]) .uk-list-divider>li:nth-child(n+2), .uk-card-secondary.uk-card-body .uk-list-divider>li:nth-child(n+2), .uk-card-secondary>:not([class*=uk-card-media]) .uk-list-divider>li:nth-child(n+2), .uk-light .uk-list-divider>li:nth-child(n+2), .uk-offcanvas-bar .uk-list-divider>li:nth-child(n+2), .uk-overlay-primary .uk-list-divider>li:nth-child(n+2), .uk-section-primary:not(.uk-preserve-color) .uk-list-divider>li:nth-child(n+2), .uk-section-secondary:not(.uk-preserve-color) .uk-list-divider>li:nth-child(n+2), .uk-tile-primary:not(.uk-preserve-color) .uk-list-divider>li:nth-child(n+2), .uk-tile-secondary:not(.uk-preserve-color) .uk-list-divider>li:nth-child(n+2) {
  border-top-color: rgba(26, 26, 26, 0.2) !important;
}

.uk-list-divider>li:nth-child(n+2) {
  border-top: 1px solid rgb(26, 26, 26) !important;
}

.uk-table-divider>:first-child>tr:not(:first-child), .uk-table-divider>:not(:first-child)>tr, .uk-table-divider>tr:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.uk-radio:checked, .uk-checkbox:checked, .uk-checkbox:indeterminate {
  background-color: #763ac7 !important;
}

.uk-offcanvas-overlay::before {
  background-color: rgba(26, 26, 26, 0.7);
}

/* END OF OVERRIDDEN STYLES */
