body {
    background: linear-gradient(to top, rgb(255, 100, 124), rgb(254, 161, 125));
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.navbar {
    background: rgba(255, 255, 255, 0.3) !important;
}

.uk-offcanvas-bar {
    background-color: #f8f8fff7;
}

.black-text {
    color: black;
}


/* OVERRIDDEN STYLES */

.uk-card-primary.uk-card-body .uk-list-divider>li:nth-child(n+2),
.uk-card-primary>:not([class*=uk-card-media]) .uk-list-divider>li:nth-child(n+2),
.uk-card-secondary.uk-card-body .uk-list-divider>li:nth-child(n+2),
.uk-card-secondary>:not([class*=uk-card-media]) .uk-list-divider>li:nth-child(n+2),
.uk-light .uk-list-divider>li:nth-child(n+2),
.uk-offcanvas-bar .uk-list-divider>li:nth-child(n+2),
.uk-overlay-primary .uk-list-divider>li:nth-child(n+2),
.uk-section-primary:not(.uk-preserve-color) .uk-list-divider>li:nth-child(n+2),
.uk-section-secondary:not(.uk-preserve-color) .uk-list-divider>li:nth-child(n+2),
.uk-tile-primary:not(.uk-preserve-color) .uk-list-divider>li:nth-child(n+2),
.uk-tile-secondary:not(.uk-preserve-color) .uk-list-divider>li:nth-child(n+2) {
    border-top-color: rgba(0, 0, 0, 0.2);
}

.uk-list-divider>li:nth-child(n+2) {
    border-top: 1px solid #000000;
}

/* END OF OVERRIDDEN STYLES */
