<template>
  <require from="./index.css"></require>
  <require from="./../loader/loader.html"></require>

  <!-- Add Playlist Modal -->
  <div class="uk-position-absolute uk-box-shadow-hover-large library-absolute-buttons library-add-playlist" style="cursor: pointer"
    click.delegate="openNewPlaylistModal()">
    <i class="fas fa-plus"></i>
  </div>

  <div ref="newPlaylistModal">
    <div class="uk-modal-dialog">
      <div class="uk-modal-header">
        <div class="uk-modal-close-default" type="button" style="cursor: pointer">
          <i class="fas fa-times-circle black-text"></i>
        </div>
        <h2 class="uk-modal-title">
          Add Playlist
        </h2>
      </div>
      <div class="uk-modal-body" uk-overflow-auto>
        <form submit.delegate="addNewPlaylist()">
          <div class="uk-inline" style="width: 100%">
            <span class="uk-form-icon">
              <i class="fas fa-music"></i>
            </span>
            <input type="text" class="uk-input" value.bind="playlistName" placeholder="Enter Playlist Name..." style="width: 100%">
          </div>
        </form>
        <hr class="uk-divider-icon">
        <div ref="playlistImportForm" style="text-align: center; width: 100%">
          <input type="file" change.delegate="handleFileUpload($event)" files.bind="playlistFile">
          <button type="button" class="uk-button uk-button-default" tabindex="-1" style="margin: 0 auto;">Import Playlist</button>
        </div>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default" type="button" click.delegate="addNewPlaylist()">Save</button>
      </div>
    </div>
  </div>
  <!-- End of Add Playlist Modal -->

  <!-- Export Playlist Button -->
  <div class="uk-position-absolute uk-box-shadow-hover-large library-absolute-buttons library-export-playlist" style="cursor: pointer"
    click.delegate="exportPlaylistModal()">
    <i class="fas fa-upload"></i>
  </div>
  <!-- End of Export Playlist Button -->

  <h2 class="category-header">My Library</h2>

  <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" ref="playlistGrid">
    <div repeat.for="playlist of playlists">
      <div class="uk-card uk-card-default uk-card-body">${playlist.name}</div>
    </div>
  </div>
</template>
