.library-absolute-buttons {
  min-width: 50px;
  min-height: 50px;
  background-color: #ff7f50;
  color: #fff;
  z-index: 7;
  font-size: 30px;
  border-radius: 100%;
  text-align: center;
  right: 7px;
}

.library-add-playlist {
  bottom: 120px;
}

.library-export-playlist {
  bottom: 180px;
}
