<template>
  <require from="./../loader/loader.html"></require>
  <require from="./../../resources/value-converters/title-case-format"></require>

  <h2 class="category-header">Genre</h2>

  <div class="uk-padding-large fixed-padding" style="margin-top: 14px">

    <loader if.bind="genreLoading"></loader>
    <div show.bind="!genreLoading" class="uk-grid-medium uk-child-width-1-4@m uk-child-width-1-2@s uk-text-center" ref="genreGrid">
      <a repeat.for="genre of genres" href.bind="'genre/' + genre">
        <div class="uk-card cursor-pointer card-hover">
          <div class="uk-card-body padding-small card-body-hover">
            <h4 class="uk-card-title white-text">${genre | titleCase}</h4>
          </div>
        </div>
      </a>
    </div>

  </div>
</template>
