.player-main-grid {
  height: 100px;
  background-color: #ff8d63;
  z-index: 2;
}

.player-left-content {
  & .player-track-image {
    height: 100px;
    float: left;
    margin-right: 14px;
  }

  & .player-track-name {
    font-size: 20px;
    margin-top: 21px;
  }

  & .player-artist-name {
    font-weight: bold;
    font-size: 18px;
  }
}

.player-center-content {
  padding-top: 21px;
  text-align: center;

  & .player-icons {
    & > * {
      margin: 0 14px;
      font-size: 25px;
      cursor: pointer;
    }

    text-align: center;
  }

  & .player-time-slider {
    width: 60%;
  }

  & .player-left-time, .player-right-time {
    width: auto;
    padding: 7px;
    display: inline-block;
    font-size: 18px;
  }
}

.player-right-content {
  text-align: center;
  padding-top: 40px;

  & .player-volume-slider {
    max-width: 50%;
  }

  & .fa-volume-up {
    padding-right: 21px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 950px) {
  .player-left-content {
    & .player-track-image {
      height: 100px;
      float: left;
      margin-right: 14px;
    }

    & .player-track-name {
      font-size: 18px;
    }

    & .player-artist-name {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 930px) {
  .player-left-content {
    width: 40%;
  }

  .player-center-content {
    width: 60%;
  }

  .player-right-content {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .player-left-content {
    width: 30%;
    padding-left: 14px;

    & .player-track-image {
      display: none;
    }
  }

  .player-center-content {
    width: 70%;

    & .player-icons {
      & > * {
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .player-left-content {
    width: 25%;

    & .player-track-name {
      font-size: 16px;
    }

    & .player-artist-name {
      font-size: 14px;
    }
  }

  .player-center-content {
    width: 75%;

    & .player-icons {
      & > * {
        font-size: 16px;
      }
    }

    & .player-time-slider {
      width: 52%;
    }
  }
}
