<template>
  <require from="./music-player.css"></require>

  <audio ref="playerAudio"></audio>

  <div class="uk-grid-collapse uk-position-bottom uk-position-fixed player-main-grid" ref="playerGrid">
    <div class="player-left-content uk-width-1-4">
      <img src="static/images/TS.png" alt="Taylor Swift" class="player-track-image" />
      <div class="player-track-name">The Lucky One</div>
      <div class="player-artist-name">Taylor Swift</div>
    </div>

    <div class="player-center-content uk-width-1-2">
      <div class="player-icons">
        <i class="fas fa-random"></i>
        <i class="fas fa-chevron-left"></i>
        <i class="fas fa-play-circle"></i>
        <i class="fas fa-chevron-right"></i>
        <i class="fas fa-redo-alt"></i>
        <i class="far fa-heart"></i>
      </div>

      <div class="player-slider">
        <span class="player-left-time">00:00</span>
        <input class="uk-range player-time-slider" type="range" value="2" min="0" max="10" step="0.1">
        <span class="player-right-time">00:00</span>
      </div>
    </div>


    <div class="player-right-content uk-width-1-4">
      <i class="fas fa-volume-up"></i>
      <input class="uk-range player-volume-slider" type="range" value="2" min="0" max="10" step="0.1">
    </div>
  </div>
</template>
