.padding-small {
  padding: 7px;
}

.card-hover {
  transition: all 0.5s ease !important;

  & .card-body-hover .uk-card-title {
    color: #ffffff;
  }
}

.card-hover:hover {
  box-shadow: 2px 8px 20px 0 rgba(31, 32, 68, 0.25);

  & .card-body-hover {
    background-color: #ffffff;
  }

  & .card-body-hover .uk-card-title {
    color: #000000;
  }
}
