<template>
  <require from="./../loader/loader.html"></require>
  <require from="./index.css"></require>

  <h2 class="category-header">Artists</h2>


  <div class="uk-padding-large fixed-padding" style="padding-top: 14px">

    <!-- Top Artists -->
    <div>
      <div class="uk-position-relative">
        <h2 class="sub-category-headers white-text" style="font-weight: 500; margin-bottom: 21px">Top</h2>
      </div>
    </div>

    <div show.bind="topArtistsLoading" style="width: 100%; margin: 0 auto; text-align: center">
      <loader></loader>
    </div>
    <div show.bind="!topArtistsLoading" class="uk-grid-medium uk-child-width-1-4@m uk-child-width-1-2@s uk-text-center" ref="topArtistsGrid">
      <a repeat.for="artist of topArtists" href.bind="'artist/' + artist.artist_name">
        <div class="uk-card cursor-pointer card-hover">
          <div class="uk-card-media-top">
            <img src="${artist.image}" alt="${artist.artist_name}" style="width: 100%; height: 100%">
          </div>
          <div class="uk-card-body padding-small card-body-hover">
            <h4 class="uk-card-title">${artist.artist_name}</h4>
          </div>
        </div>
      </a>
    </div>
    <!-- Top Artists End -->


  </div>
</template>
