<template bindable="trackImage, trackName, artistName, index, playTrack, track">
  <td>
    <div style="padding-top: 14px">
      ${index + 1}
    </div>
  </td>
  <td>
    <div>
      <img src="${trackImage}" alt="${trackName}" class="track-image">
      <div class="track-name">${trackName}</div>
    </div>
  </td>
  <td>
    <div style="padding-top: 14px">
      ${artistName}
    </div>
  </td>
  <td>
    <div style="padding-top: 7px">
      <span click.delegate="playTrack({selectedTrack: track})">
        <i class="fas fa-play-circle fa-2x cursor-pointer padding-5" style="font-size: 1.5em"></i>
      </span>
      <span>
        <i class="fas fa-plus-circle fa-2x cursor-pointer padding-5" style="font-size: 1.5em"></i>
      </span>
    </div>
  </td>
</template>
