<template bindable="trackImage, trackName, trackNameDisplay, artistName, artistNameDisplay, playTrack, addTrack">
  <div>
    <img src="${trackImage}" alt="${trackName}" style="width: 100%; height: 100%">
    <div class="uk-position-center uk-panel overlay-content">
      <div style="padding: 7px; padding-left: 14px">
        <h3 class="text-shadow white-text" style="margin: 0">${trackNameDisplay}</h3>
        <h4 class="text-shadow white-text" style="margin: 0">- ${artistNameDisplay}</h4>
      </div>
      <div>
        <div click.delegate="playTrack({trackName: trackName, artistName: artistName, image: trackImage})">
          <i class="fas fa-play-circle fa-3x cursor-pointer color-hover padding-21"></i>
        </div>
        <div click.delegate="addTrack({trackName: trackName, artistName: artistName, image: trackImage})">
          <i class="fas fa-plus-circle fa-3x cursor-pointer color-hover padding-21"></i>
        </div>
      </div>
    </div>
  </div>
</template>
