<template>
  <require from="../track-card/track-card.html"></require>
  <require from="../track-table/track-table.html"></require>
  <require from="./../loader/loader.html"></require>
  <require from="./index.css"></require>
  <require from="../../resources/value-converters/trim-string-format"></require>

  <h2 class="category-header">Tracks</h2>
  <div class="uk-padding-large" style="padding-top: 14px">

    <div class="uk-position-relative uk-visible-toggle uk-light">

      <!-- Top Tracks -->
      <div class="white-text">
        <div class="uk-position-relative">
          <h2 class="sub-category-headers" style="font-weight: 500">Top</h2>
        </div>
      </div>


      <loader if.bind="topTracksLoading"></loader>
      <div else>
        <div class="uk-overflow-auto" style="padding: 0 21px">
          <table class="uk-table uk-table-small uk-table-divider">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Control</th>
              </tr>
            </thead>
            <tbody>
              <tr as-element="track-table" repeat.for="track of topTracks" track-image.bind="track.image" track-name-display.bind="track.track_name | trimString:30"
                track-name.bind="track.track_name" artist-name-display.bind="track.artist_name | trimString:20" artist-name.bind="track.artist_name"
                index.bind="$index" play-track.call="addToNowPlayingAndPlay(trackName, artistName, image)" add-track.call="handleTracksAddToPlaylist(trackName, artistName, image)"></tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Top Tracks End -->

    </div>
  </div>
</template>
