<template>
  <require from="../track-card/track-card.html"></require>
  <require from="../track-table/track-table.html"></require>
  <require from="./../loader/loader.html"></require>
  <require from="./index.css"></require>
  <require from="../../resources/value-converters/trim-string-format"></require>

  <h2 class="category-header">Tracks</h2>
  <div>

    <div class="uk-position-relative uk-visible-toggle uk-light">

      <!-- Top Tracks -->
      <div class="white-text">
        <div class="uk-position-relative">
          <h2 class="sub-category-headers" style="font-weight: 500">Top</h2>
        </div>
      </div>


      <loader if.bind="topTracksLoading"></loader>
      <div else>
        <div class="uk-overflow-auto" style="padding: 0 21px">
          <table class="uk-table uk-table-small uk-table-divider">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Control</th>
              </tr>
            </thead>
            <tbody>
              <tr as-element="track-table" repeat.for="track of topTracks" track-image.bind="track.image" track-name.bind="track.track_name | trimString:30"
                artist-name.bind="track.artist_name | trimString:20" index.bind="$index" play-track.call="handleTracksPlay(trackName, artistName, image)"
                add-track.call="handleTracksAddToPlaylist(trackName, artistName, image)"></tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Top Tracks End -->

      <!-- Top Trending Tracks -->
      <div class="white-text">
        <div class="uk-position-relative">
          <h2 class="sub-category-headers" style="font-weight: 500">Trending</h2>
        </div>
      </div>

      <loader if.bind="trendingTracksLoading"></loader>
      <div show.bind="!trendingTracksLoading">
        <div class="uk-position-relative uk-slider-container" ref="sliderTracks" style="margin: 0 21px; margin-bottom: 121px">
          <ul class="uk-slider-items">
            <li repeat.for="track of trendingTracks" style="height: 200px; width: 200px">
              <track-card track-image.bind="track.artist_image" track-name.bind="track.track_name | trimString:15" artist-name.bind="track.artist_name  | trimString:15"
                play-track.call="handleTracksPlay(trackName, artistName, image)" add-track.call="handleTracksAddToPlaylist(trackName, artistName, image)"></track-card>
            </li>
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slider-item="previous">
            <i class="fas fa-chevron-left fa-2x text-shadow"></i>
          </a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slider-item="next">
            <i class="fas fa-chevron-right fa-2x text-shadow"></i>
          </a>
        </div>
      </div>
      <!-- Top Trending Tracks End -->

    </div>
  </div>
</template>
