<template bindable="track, index">
  <td>
    <div style="padding-top: 14px">
      ${index + 1}
    </div>
  </td>
  <td>
    <div>
      <img src="${track.image}" alt="${track.trackName}" class="track-image">
      <div class="track-name">${track.trackName}</div>
    </div>
  </td>
  <td>
    <div style="padding-top: 14px">
      ${track.artistName}
    </div>
  </td>
  <td>
    <div style="padding-top: 7px">
      <span click.delegate="playTrack({trackName: trackName, artistName: artistName, image: trackImage})">
        <i class="fas fa-play-circle fa-2x cursor-pointer padding-5" style="font-size: 1.5em"></i>
      </span>
      <span click.delegate="addTrack({trackName: trackName, artistName: artistName, image: trackImage})">
        <i class=" fas fa-plus-circle fa-2x cursor-pointer padding-5 " style="font-size: 1.5em "></i>
      </span>
    </div>
  </td>
</template>
