<template>
  <h2 class="category-header">${playlistName}</h2>

  <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" ref="detailGrid">
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <img src.bind="currentPlaylist.tracks.length > 0 ? currentPlaylist.tracks[0].image : 'https://static.tumblr.com/uqie0nv/1vIn5g72i/default_album_art.png'"
          style="height: 100%; width: 100%" />
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
  </div>
</template>
