<template bindable="trackImage, trackName, artistName, index, playTrack, addTrack, removeTrack">

  <td style="text-align: left">
    <div style="padding-top: 14px">
      ${index + 1}
    </div>
  </td>
  <td style="text-align: left">
    <div>
      <img src="${trackImage}" alt="${trackName}" class="table-track-image">
      <div class="table-track-name white-text">${trackName}</div>
    </div>
  </td>
  <td style="text-align: left">
    <div style="padding-top: 7px">
      <a href.bind="'artist/' + artistName" class="white-text">
        ${artistName}
      </a>
    </div>
  </td>
  <td style="text-align: left">
    <div style="padding-top: 7px">
      <span click.delegate="playTrack({trackName: trackName, artistName: artistName, image: trackImage, index: index})" if.bind="playTrack">
        <i class="fas fa-play-circle fa-2x cursor-pointer table-padding-5 play-color" style="font-size: 1.5em;"></i>
      </span>
      <span click.delegate="addTrack({trackName: trackName, artistName: artistName, image: trackImage, index: index})" if.bind="addTrack">
        <i class="fas fa-plus-circle fa-2x cursor-pointer table-padding-5 playlist-color" style="font-size: 1.5em;"></i>
      </span>
      <span click.delegate="removeTrack({trackName: trackName, artistName: artistName, image: trackImage, index: index})" if.bind="removeTrack">
        <i class="fas fa-trash-alt fa-2x cursor-pointer table-padding-5 remove-color" style="font-size: 1.5em"></i>
      </span>
    </div>
  </td>

</template>
