<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/CSS/materialize.css">
<script type="text/javascript" src="../static/JS/materialize.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/CSS/drop-custom.css">
<link rel="stylesheet" type="text/css" href="../static/CSS/drop-theme-arrows.min.css">



</head>
<body>
	<div class="drop-element " style="display: block !important;">
<div class="drop-content">
	<h3 class="center">Now Playing</h3>
	<div class="tab">
		<div class="left">		
		<i class="material-icons">shuffle</i>
		<i class="material-icons">repeat</i>
		</div>
		<div class="clear right">
		<i class="material-icons">clear_all</i>
		</div>
	</div>
	<ul class="center">
		<li >Text</li>
		<li>Text</li>
		<li>Text</li>
	</ul>
</div>
</div>
</body>
</html>
