.now-playing-flex {
  display: flex;
  width: 100%;
  flex-direction: column;

  & > * {
    flex: 1 100%;
  }

  & > .now-playing-track-name {
    margin-top: 14px;
  }
}

.now-playing-track-name {
  font-size: 20px;
}

.now-playing-artist-name {
  font-size: 25px;
  font-weight: bold;
}
