<template>
  <require from="./index.css"></require>
  <require from="../track-table/track-table.html"></require>
  <require from="../error-page/error-page.html"></require>
  <require from="../../resources/value-converters/trim-string-format"></require>

  <h2 class="category-header">Now Playing</h2>

  <error-page if.bind="tracks.length <= 0" message="No tracks playing right now. Play some and come back!!!"></error-page>
  <div class="uk-padding-large" show.bind="tracks.length > 0">

    <div class="uk-grid-medium uk-text-center uk-padding-remove-vertical" ref="nowPlayingGrid">

      <div class="uk-width-1-4@m uk-width-1-2@s">
        <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
            <img src.bind="currentTrack.image" style="height: 100%; width: 100%" />
          </div>
        </div>

        <div class="now-playing-flex">
          <div class="white-text now-playing-track-name">${currentTrack.trackName}</div>
          <div class="white-text now-playing-artist-name">${currentTrack.artistName}</div>
        </div>
      </div>

    </div>


    <div class="uk-overflow-auto" style="padding-top: 21px" if.bind="tracks.length > 0">
      <table class="uk-table uk-table-small uk-table-divider">
        <thead>
          <tr>
            <th class="white-text">#</th>
            <th class="white-text">Name</th>
            <th class="white-text">Artist</th>
            <th class="white-text">Control</th>
          </tr>
        </thead>
        <tbody>
          <tr as-element="track-table" repeat.for="track of tracks" track-image.bind="track.image" track-name.bind="track.trackName | trimString:30"
            artist-name.bind="track.artistName | trimString:20" index.bind="$index" play-track.call="handleTracksPlay(trackName, artistName, image, index)"
            add-track.call="handleTracksAddToPlaylist(trackName, artistName, image, index)" remove-track.call="handleTracksRemove(trackName, artistName, image, index)"></tr>
        </tbody>
      </table>
    </div>

  </div>

</template>
